<div class="dev-image offset5"><%= image_tag 'rohitbegani.jpg' %></div>
<h1 class="dev-text">Rohit Begani</h1>
<h3 class="dev-text">Developer, Designer and an avid football fan</h3>
<p class="dev-text">Hi I am a developer and a designer from New Delhi, India. Some of the languages I code in are Ruby, RoR, HTML, CSS(3).<br> I am a strong believer of open source and most of my projects are available publicly.<br>Other than coding I love to watch football and root for the gunners. Oh yeah I love bikes.<br> I am the co-founder of ObtuseOrange, a design comapny based in New Delhi, India</p>

<div class="dev-text">
	<a class="dev-link" href="https://www.facebook.com/rohit.begani.3">facebook</a>
	<a class="dev-link" href="https://plus.google.com/+RohitBegani">Google+</a>
	<a class="dev-link" href="in.linkedin.com/in/rohitbegani">LinkedIn</a>
	<a class="dev-link" href="https://geekli.st/RBegani‎">geekli.st</a>
	<a class="dev-link" href="https://www.facebook.com/ObtuseOrange‎">ObtuseOrange</a>
</div>